<h1>STUPID COACH</h1>

<p><strong><%= @question %></strong></p>
<p><em>-You</em></p>


<p><strong><%= @answer %></strong></p>
<p><em>-Your coach</em></p>

<%= link_to "Ask another question", ask_path %>
